extends layout 

block content
    h1 Edit Snippet
    form(action=`/posts/edit/post/${post._id}` method="POST")
        .form-group
            label(for="title") Title
            input#title.form-control(type="text" name="title" placeholder="Title" value=post.title required)
        .form-group
            label(for="description") Description
            input#description.form-control(type="text" name="description" placeholder="Description" value=post.description required)
        .form-group
            label(for="content") Code
            textarea#code.form-control(name="content" placeholder="Code" required)= post.content
        .form-group
            label(for="tags") Tags
            // en este input mostrar los tags que ya tiene el post separados por comas y espacios
            input#tags.form-control(type="text" name="tags" placeholder="Tags" value= post.tags.join(", ") required)
        .form-group
            label(for="language") Language
            select#language.form-control(name="language" value=post.language required)
                option(value="HTML") HTML
                option(value="CSS") CSS
                option(value="JavaScript") JavaScript
                option(value="Python") Python
                option(value="Ruby") Ruby
                option(value="Java") Java
                option(value="C#") C#
                option(value="C++") C++
                option(value="C") C
                option(value="PHP") PHP
                option(value="Swift") Swift
                option(value="Go") Go
                option(value="R") R
                option(value="SQL") SQL
                option(value="Other") Other
        button.btn.btn-primary(type="submit") Submit